<div class="navbar-nav mx-auto">
    <a href="/" class="nav-item nav-link active">HOME</a>
    {% comment %} <a href="shop.html" class="nav-item nav-link">Shop</a> {% endcomment %}
    {% comment %} <a href="shop-detail.html" class="nav-item nav-link">Shop Detail</a> {% endcomment %}
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">PRODUCT</a>
        <div class="dropdown-menu m-0 bg-secondary rounded-0">
            <a href="fruits_product" class="dropdown-item">ADD PRODUCT</a>
            <a href="fruits_product_view" class="dropdown-item">VIEW PRODUCT</a>
            
        </div>
    </div>
    <a href="Fruits_view_bookings" class="nav-item nav-link">BOOKING DETAILS</a>
    <a href="feedback" class="nav-item nav-link">FEEDBACK</a>
  <a href="/login" class="nav-item nav-link">LOGOUT</a> 
</div>