<div class="navbar-nav mx-auto">
    <a href="/user" class="nav-item nav-link active">HOME</a>
    <a href="User_product_View" class="nav-item nav-link">PRODUCT</a>
    <a href="Cart_View" class="nav-item nav-link">CART</a>
    <a href="order_view" class="nav-item nav-link">ORDER</a>

    {% comment %} <a href="shop-detail.html" class="nav-item nav-link">Shop Detail</a> {% endcomment %}
    {% comment %} <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Registration</a>
        <div class="dropdown-menu m-0 bg-secondary rounded-0">
            <a href="register" class="dropdown-item">User Register</a>
            <a href="Renter" class="dropdown-item">Shop Register</a>   
        </div>
    </div> {% endcomment %}
  <a href="/login" class="nav-item nav-link">LOGOUT</a>
</div>